<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://static.jstree.com/latest/assets/dist/themes/default/style.min.css" />
   <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js" type="text/javascript"></script>

   <script type="text/javascript" src="/static/js/images.js"></script>
   <script type="text/javascript" src="/static/js/main.js"></script>

   <link rel="stylesheet" href="/static/css/style.css" />
   
   <title>Fashion Tags</title>
</head>
<body>
   <form id="amazon" action="{{ amazon_host }}" method="POST">
      <textarea rows="4" cols="50" name="user-input">
      </textarea>
      <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
      <br/>
      <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
      <input type="hidden" id="imageIndex" value="{{ image_index }}" name="imageIndex"/>
      <input type="submit">
  </form>
  <!-- <form id="database" action="#" method="GET" style="display:none;">
      <textarea type = "hidden" rows="4" cols="50" name="user-input" id="result2"></textarea>
      <input type="hidden" id="user-input2" name="user-input"/>
      <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
      <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
      <input type="hidden" id="image_index" value="{{ image_index }}" name="image_index"/>
      <input type="submit">
   </form> -->
   <div id="wrap">
      <h1 id ="header">Tag fashion photos</h1>
      <div id ="description">
         <!-- <h2>Instruction</h2>  -->
         <!-- <p>In this task, you'll be asked to tag the provided picture</p> -->
         <h3>General Instructions:</h3>
         <p>This task has two parts.  You will be shown a fashion photo.  <br>In Part One, you will be selecting the appropriate tags based on the entire outfit or the model.  <br>In Part Two, you will be selecting the appropriate tags based on the individual clothing items shown in the photo.  <br>Detailed instruction and references are provided as you progress through the task.
         </p>

         <h3>Notes:</h3>
         <p>Please remember to accept the task before you do it; otherwise, we cannot pay you!</p>
         
         <h3>The task starts below the line</h3>
         <p>----------------------------------------------------------------------------------------------------------------</p>
      </div>
      
      <div id= "task"></div>
      <div id="rejection">
         <h3>
            You should see the top and bottom of an outfit on a single model.  If you don't see the full body of the model or see anything else, please reject the image.
         </h3>
         <img id="target" src="">
         <button class="pure-button" name="reject" id="reject" type="reject" onClick="reject()">Reject</button>
      </div>
      <div id="instruction">
         <h3>Instruction for Part Two: tag individual clothing items</h3>
         <p>
            We are now ready to start Part Two of the task.  You will be tagging individual clothing items shown in the picture. <br>
             
            Every outfit consists of a top and/or a bottom.  For example:  a T-shirt (top) and jeans (bottom).  Sometimes an outfit just has a top, like a dress.  Sometimes an outfit has an outer-wear layer like a jacket or a vest.<br></p>
             
            <h3>Step 1: </h3><p>Draw a box around the top of the outfit, and then select the appropriate tags for the top. Sometimes an outfit has a Top AND an Outer-wear (jacket, coat or a sweater), select the Top in this step for now, you can select the Outer-wear later. </p>
            
            <h3>Step 2: </h3><p>Draw a box around the bottom of the outfit, and then select the appropriate tags for the top.</p>
             
            <h3>Step 3: </h3><p>If the outfit has an outerwear layer, draw a box around it and tag appropriately.</p>
             
            <h3>Step 4: </h3><p>If the outfit has shoes, draw a box around them and tag appropriately.</p>
             
            <h3>Step 5: </h3><p>If the outfit has a handbag, draw a box around it and tag appropriately. </p>
         </p>
         <button class="pure-button" name="next" onclick="$('#next').click()" type="button">Next</button>
      </div>
      <h3 class="segment">In this task we need you to identify the individual clothing items by drawing boxes around them, then tag the individual clothing items accordingly.</h3>
      <label for="clear" class="segment">This button would allow you to clear the box you drew:</label>
      <button class="segment" name="clear" id="clear" type="button" onClick="clearBox()">Clear</button>
      <div id= "segment" class="segment col_two"></div>
      <div id= "items" class="css-treeview"></div>
      <button class="pure-button" name="next" id="next" type="button">Next</button>
      <h2 id="end">Congrats! The end of task! Please submit!</h2>
      <button class="pure-button" name="submit" id="submit" onclick="$('#amazon').submit();" type="button">Submit</button>
   </div><!--end wrap-->
</body>
