<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://static.jstree.com/latest/assets/dist/themes/default/style.min.css" />
   <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js" type="text/javascript"></script>

   <script type="text/javascript" src="../static/js/images.js"></script>
   <script type="text/javascript" src="../static/js/main.js"></script>

   <link rel="stylesheet" href="../static/css/style.css" />
   
   <title>Fashion Tags</title>
</head>
<body>
   <form id="amazon" action="{{ amazon_host }}" method="POST">
      <input type="hidden" id="user-input" value="" name="user-input"/>
      <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
      <br/>
      <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
      <input type="submit">
  </form>
  <form id="database" action="#" method="GET">
      <input type="hidden" id="imageIndex" value="{{ image_index }}" name="imageIndex"/>
      <input type="submit">
   </form>
   <div id="wrap">
      <h1 id ="header">Tag fashion photos</h1>
      <div id ="description">
         <!-- <h2>Instruction</h2>  -->
         <!-- <p>In this task, you'll be asked to tag the provided picture</p> -->
         <p>In this task, you'll be asked to tag the Outerwear in 6 provided fashion looks.
         </p>

         <h3>Notes:</h3>
         <p>Please remember to accept the task before you do it; otherwise, we cannot pay you!</p>
         <p>Once you accept the HIT, you will have 30 minutes to finish the task. The HIT would be auto-returned if you are holding it for too long. </p>
         <p>There is spam catcher in the task. If you fail the spam catcher, your assignment will be rejected.</p>
         
         <h3>Proceed by clicking START below the line</h3>
         <p>----------------------------------------------------------------------------------------------------------------</p>
      </div>
      <div id= "segment" class="segment col_two"></div>
      <div id= "items" class="css-treeview"></div>
      <button name="next" id="next" type="button">Next</button>
      <h2 id="end">Congrats! The end of task! Please submit!</h2>
      <button class="pure-button" name="submit" id="submit" onclick="$('#amazon').submit();" type="button">Submit</button>
   </div><!--end wrap-->
</body>
